.idea

*.pyc

Project Code/venv/
Project Code/.idea/
Projcet Code/geckodriver.log
/geckodriver.log
geckodriver.log
*.log
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
